textarea {
    width: 400px;
    min-height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.container{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.text{
    text-align: end;
    margin-top: 4px;
    margin-right: 4px;
    color: #5e5d5d;
}

label{
    text-align: justify;
    margin-bottom: 2px;
    margin-left: 2px;
}
span{
    color: red;
    margin-left: 2px;
}
.disabled { 
    cursor: not-allowed !important;
    background-color: #cbc9c9fe !important;
}