.howToUse {
    background-color: #fff;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .step-main{
        background-color: red;
        width: 200px;
        height: 100px;
        position: relative;
        border-left:2px dotted;
        padding-left: 25px;
        .step-num{
            background-color: #fff;
            position: absolute;
            padding: 10px 15px;
            border-radius: 100px;
            // top: -20px;
            left: -20px;
            border: 1px solid ;
        }
    }

    // .useimage {
    //     justify-content: center;
    //     display: flex;
    //     align-items: center;

    //     .img {
    //         width: 700px;
    //     }
    // }

    // .info-text {
    //     font-size: 30px;
    //     padding: 25px;
    //     text-align: center;
    //     transition: transform 0.3s ease;
    //     font-family: 'Catamaran', sans-serif;

    //     &:hover {
    //         transform: scale(1.03);
    //     }
    // }
}

@media screen and (max-width: 768px) {
    .howToUse {
        margin-top: 56px;
    }

    .info-text {
        font-size: 25px !important;
    }

    .img {
        width: 500px !important;
    }
}

@media screen and (max-width: 500px) {

    .img {
        width: 400px !important;
    }
}

body {
    background-color: #fff !important;
}