.doc-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 100px;
    background-color: #ffffeceb;
    margin-top: 100px;
    // width: 100%;
    .btn-item {
        display: flex;
        gap: 40px;
        padding: 30px 0px;
        border-bottom: 2px solid #1b1b1b2b;
        .doc-text {
            color: #010101;
            width: 400px;
            margin-left: 50px;
            font-size: 35px;
        }
        .btn-components {
            display: flex;
            flex-direction: column;
            gap: 25px;
            .large-buttons {
                display: flex;
                gap: 40px;
                flex-wrap: wrap;
            }
            .medium-buttons {
                display: flex;
                gap: 40px;
                flex-wrap: wrap;
            }
        }
    }
    .input-item{
        display: flex;
        gap: 40px;
        padding: 30px 0px;
        border-bottom: 2px solid #1b1b1b2b;
        .doc-text {
            color: #010101;
            width: 400px;
            margin-left: 50px;
            font-size: 35px;
        }
        .input-components{
            display: flex;
            flex-direction: column;
            gap: 25px;
            .input-boxs{
                display: flex;
                gap: 40px;
                flex-wrap: wrap;
            }
        }
    }
    .CheckBox-item{
        display: flex;
        gap: 40px;
        padding: 30px 0px;
        border-bottom: 2px solid #1b1b1b2b;
        .doc-text {
            color: #010101;
            width: 400px;
            margin-left: 50px;
            font-size: 35px;
        }
        .CheckBox-components{
            display: flex;
            flex-direction: column;
            gap: 25px;
            .Check-Box{
                display: flex;
                gap: 40px;
            }
        }
    }
    .radio-item{
        display: flex;
        gap: 40px;
        padding: 30px 0px;
        border-bottom: 2px solid #1b1b1b2b;
        .doc-text {
            color: #010101;
            width: 400px;
            margin-left: 50px;
            font-size: 35px;
        }
        .radio-components{
            display: flex;
            flex-direction: column;
            gap: 25px;
            .radio-Box{
                display: flex;
                gap: 40px;
                flex-wrap: wrap;
            }
        }
    }
    .textarea-item{
        display: flex;
        gap: 40px;
        padding: 30px 0px;
        border-bottom: 2px solid #1b1b1b2b;
        .doc-text {
            color: #010101;
            width: 400px;
            margin-left: 50px;
            font-size: 35px;
        }
        .textarea-components{
            display: flex;
            flex-direction: column;
            gap: 25px;
            .textarea-Box{
                display: flex;
                gap: 40px;
                flex-wrap: wrap;
            }
        }
    }
    .date-item{
        display: flex;
        gap: 40px;
        padding: 30px 0px;
        border-bottom: 2px solid #1b1b1b2b;
        .doc-text {
            color: #010101;
            width: 400px;
            margin-left: 50px;
            font-size: 35px;
        }
        .date-components{
            display: flex;
            flex-direction: column;
            gap: 25px;
            .date-Box{
                display: flex;
                gap: 40px;
                flex-wrap: wrap;
            }
        }
    }
    .dropDown-item{
        display: flex;
        gap: 40px;
        padding: 30px 0px;
        border-bottom: 2px solid #1b1b1b2b;
        .doc-text {
            color: #010101;
            width: 400px;
            margin-left: 50px;
            font-size: 35px;
        }
        .dropDown-components{
            display: flex;
            flex-direction: column;
            gap: 25px;
            .dropDown-Box{
                display: flex;
                gap: 40px;
                flex-wrap: wrap;
            }
        }
    }
    .toggle-item{
        display: flex;
        gap: 40px;
        padding: 30px 0px;
        border-bottom: 2px solid #1b1b1b2b;
        .doc-text {
            color: #010101;
            width: 400px;
            margin-left: 50px;
            font-size: 35px;
        }
        .toggle-components{
            display: flex;
            flex-direction: column;
            gap: 25px;
            .toggle-Box{
                display: flex;
                gap: 40px;
            }
        }
    }
    .Accordions-item{
        display: flex;
        gap: 40px;
        padding: 30px 0px;
        border-bottom: 2px solid #1b1b1b2b;
        .doc-text {
            color: #010101;
            width: 400px;
            margin-left: 50px;
            font-size: 35px;
        }
        .Accordions-components{
            display: flex;
            flex-direction: column;
            gap: 25px;
            .Accordions-Box{
                display: flex;
                gap: 40px;
                max-width: 800px;
                min-width: 200px;
            }
        }
    }
    .tabs-item{
        display: flex;
        gap: 40px;
        padding: 30px 0px;
        border-bottom: 2px solid #1b1b1b2b;
        .doc-text {
            color: #010101;
            width: 400px;
            margin-left: 50px;
            font-size: 35px;
        }
        .tabs-components{
            display: flex;
            flex-direction: column;
            gap: 25px;
            .tabs-Box{
                display: flex;
                gap: 40px;
                flex-wrap: wrap;
            }
        }
    }
}

@media (max-width: 768px) {
    .doc-container{
        padding: 5px 20px !important;
        margin-top: 56px;
        .btn-item {
            flex-direction: column;
            padding: 15px 15px !important;
            .doc-text {
                margin-left: 0px !important ;
                font-size: 25px !important;
            }
        }
        .input-item{
            flex-direction: column;
            padding: 15px 15px !important;
            .doc-text {
                margin-left: 0px !important ;
                font-size: 25px !important;
            }
        }
        .textarea-item{
            flex-direction: column;
            padding: 15px 15px !important;
            .doc-text {
                margin-left: 0px !important ;
                font-size: 25px !important;
            }
            .TEXTAREA___textarea{
                width: 300px !important;
            }
        }
        .CheckBox-item{
            flex-direction: column;
            padding: 15px 15px !important;
            .doc-text {
                margin-left: 0px !important ;
                font-size: 25px !important;
            }
        }
        .radio-item{
            flex-direction: column;
            padding: 15px 15px !important;
            .doc-text {
                margin-left: 0px !important ;
                font-size: 25px !important;
            }
        }
        .date-item{
            flex-direction: column;
            padding: 15px 15px !important;
            .doc-text {
                margin-left: 0px !important ;
                font-size: 25px !important;
            }
        }
        .dropDown-item{
            flex-direction: column;
            padding: 15px 15px !important;
            .doc-text {
                margin-left: 0px !important ;
                font-size: 25px !important;
            }
        }
        .toggle-item{
            flex-direction: column;
            padding: 15px 15px !important;
            .doc-text {
                margin-left: 0px !important ;
                font-size: 25px !important;
            }
        }
        .Accordions-item{
            flex-direction: column;
            padding: 15px 15px !important;
            .doc-text {
                margin-left: 0px !important ;
                font-size: 25px !important;
            }
        }
        .tabs-item{
            flex-direction: column;
            padding: 15px 15px !important;
            .doc-text {
                margin-left: 0px !important ;
                font-size: 25px !important;
            }
        }
       
    }
}

.doc-text {
    font-weight: 600;
    font-size: 33px !important;
}