body{
  background-color: #000000;
  margin: 0px;
}
body::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #6f00ff; /* Black-colored scrollbar thumb */
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: #000; /* Track color */
  border-radius: 5px;
}