// Navbar.scss

.navbarMob {
    display: flex;
    flex-direction: column;
}

.navbarBig {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    padding: 1rem;
    background: transparent;
    background-color: #0c0c0ceb;
    color: white;
    position: fixed;
    box-shadow: 0 0 10px #6e02fc93;
    width: 100%;
    top: 0px;
    z-index: 9999;

    .header {
        display: flex;
        justify-content: space-between;

    }

    .navbar-brand {
        display: block;

        img {
            height: 70px;
        }
    }

    .menu {
        display: none;
        // width: 30px;
    }



    .navbar-menu {
        display: flex;
        justify-content: end;
        right: 0;
        font-family: 'Catamaran', sans-serif;
        background: transparent;
        // background-color: #333;
        //   width: 100%;
        text-align: right;
        padding: 1rem;
        padding-right: 3rem;

        .NavItem {
            display: flex;
            padding: 5px 0;
            color: white;
            margin-left: 40px;
            text-decoration: none;
            // border-bottom: 2px solid #333;
            transition: all 0.3s;
            letter-spacing: 1px;

            &:hover {
                transform: scale(1.1);
            }
        }

        .active-link {
            border-bottom: 2px solid #fff !important;
            font-weight: 600;
        }
    }

    .navbar-burger {
        display: none;
        flex-direction: column;
        cursor: pointer;

        span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: white;
            margin: 5px 0;
        }
    }

    @media (max-width: 768px) {
        .navbar {
            flex-direction: column !important;
        }

        .navbar-menu {
            display: none;
            padding: 0px;
        }

        .menu {
            position: absolute;
            right: 60px;
            display: flex;
        }

        .navbar-brand {
            img {
                height: 20px;
            }
        }



        .navbar-menu.is-active {
            transform: scaleY(1);
            display: flex;
            flex-direction: column;
            text-align: center;
            position: absolute;
            background: rgba(40, 39, 39, 0.954);
            top: 55px;
            width: 100%;
            padding-right: 35px;

            a {
                padding: 1rem 0rem;
                justify-content: center;
            }
        }
    }
}

.activeNavItem {
    border-bottom-color: #000;
    /* Set your desired border color for the active link */
}